<html>
<head>
    <title>Title<title>
</head>
<body>
<ul>
    {%load filters%}
    {%for book in book_list%}
    {%if forloop.counter|mod%}
    <li style='background-color: red'>{{book.btitle}}-----{{book.bpub_date}}    </li>
    {%else%}
    <li style='background-color: pink'>{{book.btitle}}-----{{book.bpub_date|    date:'Y-m-j'}}</li>
    {%endif%}
    {%endfor%}
</ul>
    {%load filters%}
    {%for book in book_list%}
    {%if forloop.counter|mod2%:3%}
    <li style='background-color: blue'>{{book.btitle}}-----{{book.bpub_date}}    </li>
    {%else%}
    <li style='background-color: pink'>{{book.btitle}}-----{{book.bpub_date|    date:'Y-m-j'}}</li>
    {%endif%}
    {%endfor%}
</body>
</html>
                                                                              
                          
