<html>
<head>
    <title>Title</title>
</head>
<body>
<form method='post' action='/post2/'>
    <input type='text' name='uname'><br>
    <input type='password' name='upwd'><br>
    <input type='radio' name='ugender' value='男' checked='checked'>男&nbsp;&nbsp;
    <input type='radio' name='ugender' value='女'>女<vr>
    <input type='checkbox' name='uhobby' value='胸口碎大石'/>胸口碎大石&nbsp;&nbsp;
    <input type='checkbox' name='uhobby' value='脚踩电灯泡'/>脚踩电灯泡&nbsp;&nbsp;
    <input type='checkbox' name='uhobby' value='口吹火'/>口吹火<br>
    <input type='submit' value='提交'/>

</form>
</body>
</html>
